* {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    height: 20rem;
}

section {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

@media screen and (max-width: 480px) {

    main {
        display: flex;
        flex-direction: column;
    }

    section {
        font-size: 1em;
        height: 50%;
    }


}